// INDEX PAGE
.cover {
    background-image: linear-gradient(45deg,#00aeef 0%,#096fb9 100%);
    position: relative;
}

.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    margin-top: 0;
    position: relative;
}

.main-section {
    top: 150px;
    width: 100%;
    padding: 150px 0 0;
}

.hero-section {
    h2 {
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    perspective: 1000px;
    color: white;
    width: 480px;
    position: relative;

    &-content {
        position: absolute;
        bottom: 20px;
        width: 360px;
        left: 6%;
        z-index: 1;

        &-intro {
            font-size: 17px;
        }
    }
}

.image {
    width: auto;
    max-width: 100%;
}

.hero-welcome-text > h1 {
    color: white;
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 80px;
}
